<div class="description-control mb-5">
  <a data-toggle="collapse" role="button" aria-expanded={{active}} aria-controls="{{id}}"
    class="{{#unless active}}collapsed{{/unless}}" data-target="#description-{{id}}">
    <span class="description-control__sign sign-plus">+</span>
    <span class="description-control__sign sign-minus">–</span> {{name}}</a>
</div>