<header class="show">
  <div class="container">
    <div class="row no-gutters align-items-center">
      <div class="logo">
        <a href="javascript:"><img src="/assets/logo.png" alt="logo"></a>
      </div>

      <div class="d-none d-md-block ml-auto navigation">
        <div class="row">
          <a class="mr-4" href="#about">О нас</a>
          <a class="mr-4" href="#traectories">Направления</a>
          <a class="mr-4" href="#events">Мероприятия</a>
          <a class="mr-4" href="#timetable">Расписание</a>
          <a class="mr-4" href="#contacts">Контакты</a>
        </div>
      </div>

      <div class="ml-auto d-md-none">
        <button class="nav-open link">
          <svg width="30" height="20">
            <line x1="0" y1="1" x2="30" y2="1" />
            <line x1="0" y1="10" x2="30" y2="10" />
            <line x1="0" y1="19" x2="30" y2="19" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="mobile-navigation" id="mobile-navigation">
  <div class="mobile-navigation__inner">
    <button class="nav-close link">
      <svg width="20" height="20">
        <line x1="1" y1="1" x2="19" y2="19" />
        <line x1="19" y1="1" x2="1" y2="19" />
      </svg>
    </button>
    <a class="d-block mb-4" href="#about">О нас</a>
    <a class="d-block mb-4" href="#traectories">Направления</a>
    <a class="d-block mb-4" href="#events">Мероприятия</a>
    <a class="d-block mb-4" href="#timetable">Расписание</a>
    <a class="d-block mb-4" href="#contacts">Контакты</a>
  </div>
</div>