<div class="traectory-control mr-4 mb-4">
  <a data-toggle="collapse" role="button" aria-expanded={{active}}
  aria-controls="{{id}}" class="{{#unless active}}collapsed{{/unless}}"
  data-target="#traectory-{{id}}">•  {{name}}</a>
</div>