<section id="{{id}}" class="secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        {{> ../components/sectionTitle title="О нас" subtitle="поверь, ты можешь больше!"}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, magnam, nihil ex impedit a nesciunt quam consectetur ratione aspernatur expedita rerum. Magni mollitia animi esse modi, enim quasi nobis quaerat!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam voluptatum tenetur corporis sunt id eum, dolor recusandae tempora temporibus, voluptates debitis? Rerum similique excepturi quae, repudiandae laudantium repellendus dolores incidunt!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat maxime architecto dolorum quibusdam inventore id dolore laudantium, illum blanditiis mollitia aspernatur eveniet impedit ipsa illo doloremque quidem aperiam eligendi! Dolorum.</p>
      </div>
      <div class="col-lg-7 col-md-6">
        <img src="https://dummyimage.com/800x600/e66161/ffffff" alt="team photo">
      </div>
    </div>
  </div>
</section>