<section id="{{id}}" class="secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        {{> ../components/sectionTitle title="ПОВЕРЬ, С НАМИ ТЫ МОЖЕШЬ БОЛЬШЕ!
          МЫ ВДОХНОВЛЯЕМ НА СПОРТ И АКТИВНЫЙ ОБРАЗ ЖИЗНИ!
          А ГЛАВНОЕ, ВЕРИМ В ТЕБЯ!" }}
       
        <p>
          Ключевая идея проекта и преимущество: <br>
          Комплексный, профессиональный подход к ведению здорового и активного образа жизни, отвечающего запросам
          современного поколения Y, Z.
        </p>

      </div>
      <div class="col-lg-7 col-md-6">
        <img src="/assets/team.jpg" alt="team photo">
      </div>
    </div>
  </div>
</section>