<section id={{id}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h1>Контакты</h1>
        <p class="d-lg-none">
          vtonuse.ekb@gmail.com <br>
          Whats up 89530405792
        </p>
      </div>
      <div class="col-lg-4">
        <h1>Парковка</h1>
        <p class="d-lg-none">
          Наши тренировки проходят по адресу:
          <br> пр. Ленина, 50 Д
          <br> Пространство движения «Станция»
          <br> (вход с улицы Луначарского, 3 этаж)
        </p>
      </div>
      <div class="col-lg-4">
        <h1>У вас есть вопросы?</h1>
        <p class="d-lg-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem dignissimos ipsam amet ut
          aliquam! Minima
          sit non perferendis dolorum, eveniet maxime veniam amet vero molestias expedita neque aperiam, necessitatibus
          incidunt.</p>
      </div>
    </div>
    <div class="row d-none d-lg-flex">
      <div class="col-lg-4">
        <p>vtonuse.ekb@gmail.com
          <br> Whats up 89530405792</p>
      </div>
      <div class="col-lg-4">
        <p>
          <br> Наши тренировки проходят по адресу:
          <br> пр. Ленина, 50 Д
          <br> Пространство движения «Станция»
          <br> (вход с улицы Луначарского, 3 этаж)</p>
      </div>
      <div class="col-lg-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem dignissimos ipsam amet ut aliquam! Minima
          sit non perferendis dolorum, eveniet maxime veniam amet vero molestias expedita neque aperiam, necessitatibus
          incidunt.</p>
      </div>
    </div>
  </div>

  <div>
    <img src="https://dummyimage.com/1920x800/e66161/ffffff" alt="wtf">
  </div>

  <div class="container form-container">
    <div class="card">
      <div class="text-center">
        {{> ../components/sectionTitle title="Сделай заявку" }}
      </div>

      <form class="form-wrapper">
        <div class="row mb-3">
          <div class="col-6"><input type="text" placeholder="Name"></div>
          <div class="col-6"><input type="email" placeholder="Email"></div>
        </div>
        <input class="mb-3" type="text" placeholder="Subject">
        <textarea placeholder="Message" class="mb-5" cols="30" rows="10"></textarea>

        <button type="button" style="width: 100%">Send a message</button>
      </form>
    </div>
  </div>



</section>