<section class="pb-0" id={{id}}>

  <div class="container">
    <div class="section-title mb-5">
      <h1 class="mark section-title__title section-title_side">Факты</h1>
      <div class="pass d-none d-lg-block" style="height: 200px;"></div>
    </div>
  </div>

  <section class="secondary col-lg-10">
    <div class="offset-lg-1 mb-5">
      <div class="facts-video mb-5">
        <img class="not-responsive" src="https://dummyimage.com/1000x600/e66161/ffffff" alt="">
      </div>

      <div class="facts-info">
        <div class="row text-center">
          <div class="col-sm-4 col-12">
            <span class="facts-info__number mark">>1000</span>
            <h4 class="facts-info__text text-upper">Участников</h4>
          </div>
          <div class="col-sm-4 col-12">
            <span class="facts-info__number mark">>2000</span>
            <h4 class="facts-info__text text-upper">Тренировок</h4>
          </div>
          <div class="col-sm-4 col-12">
            <span class="facts-info__number mark">>17000</span>
            <h4 class="facts-info__text text-upper">Людей на утренней зарядке</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="offset-lg-3 offset-md-2">
      {{> ../components/sectionTitle title="Наши награды" subtitle="давай, будь частью нашей команды"}}

      <div class="row trofeys">
        <div class="trofeys-item">
          <img class="not-responsive" src="https://dummyimage.com/64x64/e66161/ffffff" alt="">
        </div>
        <div class="trofeys-item">
          <img class="not-responsive" src="https://dummyimage.com/64x64/e66161/ffffff" alt="">
        </div>
        <div class="trofeys-item">
          <img class="not-responsive" src="https://dummyimage.com/64x64/e66161/ffffff" alt="">
        </div>
        <div class="trofeys-item">
          <img class="not-responsive" src="https://dummyimage.com/64x64/e66161/ffffff" alt="">
        </div>
        <div class="trofeys-item">
          <img class="not-responsive" src="https://dummyimage.com/64x64/e66161/ffffff" alt="">
        </div>
      </div>
    </div>


  </section>

</section>