<div id={{id}} class="section">
  <div class="text-center">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptates.
    </p>
  
    <a target="_blank" href="https://vk.com/v_tonusee">VK.</a>
    <a target="_blank" href="https://www.instagram.com/v_tonusee/">INST.</a>
    <a target="_blank" href="https://www.youtube.com/channel/UCdH8RGRcEGpcEdS2MSPW81A/">YTBE.</a>
  </div>

  <div class="container mt-5">
    <section class="secondary py-4">
      <div class="text-center">
        Copyright © 2019
      </div>
    </section>
  </div>
</div>