<section id={{id}} class="secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10">
        {{> ../components/sectionTitle title="Если ты" subtitle="измени свою жизнь"}}
        <p>— Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, unde!</p>
        <p>— Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem corporis esse minus nulla eum?</p>
        <p>— Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, eaque!</p>
        <p>— Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, architecto!</p>
      </div>
    </div>

    <div class="mt-5">
      <a class="button" href="#traectories">Подробнее</a>
    </div>
  </div>
</section>