<section id={{id}} class="secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10">
        {{> ../components/sectionTitle title="Если ты" subtitle="измени свою жизнь"}}
        <p>
          — хочешь заниматься фитнесом с командой профессиональных тренеров в новой ЛОФТ-студии в самом центре города
        </p>
        <p>
          — мечтаешь сформировать устойчивые, полезные привычки
        </p>
        <p>
          — усовершенствовать и систематизировать свои знания в сфере: спорта, красоты, здоровья, осознанного питания и
          косметического ухода
        </p>
        <p>
          — хочешь быть вместе с командой единомышленников и ежедневно вдохновляться на новые достижения!
        </p>
      </div>
    </div>

    <div class="mt-5">
      <a class="button" href="#traectories">Подробнее</a>
    </div>
  </div>
</section>