<section id={{id}}>
  <div class="container">
    {{> ../components/sectionTitle title="Наше расписание" subtitle="подбери свое время" }}
  </div>

  <div class="container-fluid">
    <div class="row timetable">
      <div class="timetable-item item-lead mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2>Расписание</h2>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2>Понедельник</h2>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2>Вторник</h2>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2>Среда</h2>
          <p class="text-big mb-1">FUNCTIONAL</p>
          <p class="text-big mt-1">18:00</p>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2>Четверг</h2>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2>Пятница</h2>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2>Суббота</h2>
          <p class="text-big mb-1">FUNCTIONAL POWER</p>
          <p class="text-big mt-1">16:00</p>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2>Воскресенье</h2>
          <p class="text-big mb-1">STRECHING</p>
          <p class="text-big mt-1">12:00</p>
        </div>
      </div>
    </div>
  </div>
</section>