<section class="pt-0" id={{id}}>
  <div class="container">
    {{> ../components/sectionTitle title="Наше расписание" subtitle="подбери свое время" }}
  </div>

  <div class="container-fluid">
    <div class="row timetable">
      <div class="timetable-item item-lead mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2>Расписание</h2>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2 class="big">Monday</h2>
          <h4>Stretching</h4>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2 class="big">Tuesday</h2>
          <h4>Functional</h4>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2 class="big">Wednesday</h2>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2 class="big">Thursday</h2>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2 class="big">Friday</h2>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2 class="big">Saturday</h2>
          <h4>Body balance</h4>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2 class="big">Sunday</h2>
          <h4>Body balance</h4>
        </div>
      </div>
    </div>
  </div>
</section>