<section class="pt-0" id={{id}}>
  <div class="container">
    {{> ../components/sectionTitle title="Наше расписание" subtitle="подбери свое время" }}
  </div>

  <div class="container-fluid">
    <div class="row timetable">
      <div class="timetable-item item-lead mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2>Расписание</h2>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2 class="big">Понедельник</h2>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2 class="big">Вторник</h2>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2 class="big">Среда</h2>
          <h4 class="mb-1">FUNCTIONAL</h4>
          <h3 class="mt-1">18:00</h3>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2 class="big">Четверг</h2>
        </div>
      </div>
      <div class="timetable-item item-disabled mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner">
          <h2 class="big">Пятница</h2>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2 class="big">Суббота</h2>
          <h4 class="mb-1">FUNCTIONAL POWER</h4>
          <h3 class="mt-1">16:00</h3>
        </div>
      </div>
      <div class="timetable-item mb-4 col-lg-3 col-md-4 col-sm-6">
        <div class="timetable-item-inner" style="background-image: url(https://dummyimage.com/300x400/c6cccc/ffffff);">
          <h2 class="big">Воскресенье</h2>
          <h4 class="mb-1">STRECHING</h4>
          <h3 class="mt-1">12:00</h3>
        </div>
      </div>
    </div>
  </div>
</section>